# wrangler files
.wrangler
.vercel
.dev.vars*
!.dev.vars.example
.env*
!.env.example
!.env.production

# local account notes
accounts.md

# build files
dist
node_modules
*.tsbuildinfo
vite.config.d.ts
vite.config.js
server/dist

# test coverage
coverage
server/coverage

