.masked-heading {
  position: relative;
  z-index: 10000;
}

.masked-base {
  color: inherit;
}

.fixed-blue-period::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  border-radius: 50%;
  background: #206ccf;
  vertical-align: baseline;
}
